html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #dee2e6;
}

* {
    text-align: center;
}

.label {
    font-size: 40px;
    font-family: 'Monofett', cursive;
}

.primary {
    font-size: 6vw;
}

.secondary {
    font-size: 25px;
}

.gallery {
    font-size: 40px;
    font-family: 'Monoton', cursive;
}

.tvc {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: white;
}

.holder :not(i) {
    text-align: left;
    font-family: Anton;
}

.holder>h3 {
    font-family: Inconsolata;
}

.jumbotron {
    margin: 5px 15px 0px 15px;
    border-radius: 10px;
    background-color: lightgray;
}

.quote {
    border: 2px black solid;
    background: lightblue;
    border-radius: 10px;
    border-width: 5px;
    width: 100%;
    height: 100%;
}

.equal {
    margin-bottom: 20px;
}

.collapser {
    margin-bottom: 10px;
}

.form-control{
    width:100%;
    margin-left: 0%;
}

.active{
    color: coral !important;
}

li :not(.active){
    color: white !important;
}

li {
    width: 50%;
    margin-left: 25%;
}

h1 {
    font-size: 80px;
    color: blue;
    font-family: 'Lobster', cursive;
}

h2 {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: black;
}

h3 {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    font-size: 20px;
}

h4 {
    font-size: 14px;
}

p {
    margin: 0 0 10px 10px;
    text-align: left;
}

#bkg {
    display: table;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(0, 255, 0, 0.1),
    rgba(0, 0, 255, 0.3)), url('img/balloon-1.jpg') no-repeat center;
    background-size: cover;
}

#hook {
    font-family: 'Rammetto One', cursive;
    font-size: 40px;
}

#blue {
    background-color: lightblue !important;
}

#white {
    background-color: lightcoral;
}

#copyright {
    font-size: 25px;
}

/* xm only */

@media (max-width: 575px) {
    br {
        display: none;
    }
    .jumbotron {
        margin: 10px;
    }
    .holder>h1 {
        font-size: 35px;
    }
    .holder>h2 {
        font-size: 6vw;
    }
    #copyright {
        font-size: 15px;
    }
}

/* small + */

@media (min-width: 576px) {
    br {
        display: none;
    }
    p {
        margin: 0 0 20px 20px;
    }

    h1 {
        font-size: 100px;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 30px;
    }
    .holder>h2 {
        font-size: 35px;
    }
    .holder>h1 {
        font-size: 50px;
    }
    .holder>h3,
    h4 {
        font-size: 20px;
    }
}

/* medium+ & Navbar breakpoint (expand display) */

@media (min-width: 768px) {
    br {
        line-height: 1.2em;
    }
    li {
        width: 100%;
        margin-left: 0;
    }
    h1 {
        font-size: 120px;
    }

    h2,
    .gallery {
        font-size: 60px;
    }
    h3 {
        font-size: 40px;
    }
    h4 {
        font-size: 25px;
    }
    #hook,
    .label {
        font-size: 50px;
    }
}

/* large + */

@media (min-width: 992px) {
    br {
        display: block;
    }
    p {
        margin: none;
        font-size: 20px;
    }
    .sh-right {
        text-align: right;
    }

    .sh-left {
        text-align: left;
    }
    h1 {
        font-size: 140px;
    }

    h2 {
        font-size: 75px;
    }
    h3 {
        font-size: 30px;
    }
    .label {
        font-size: 45px;
    }
    .gallery {
        font-size: 70px;
    }
}

/* xlarge */

@media (min-width: 1200px) {
    h1 {
        font-size: 200px;
    }

    h2 {
        font-size: 90px;
    }
    #hook {
        font-size: 70px;
    }
    h4 {
        font-size: 40px;
    }
}
